<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container mt-4 mb-lg-5" *ngIf="!isLoading">
  <div #scrollInit></div>
  <app-titulo texto="Consumidores"></app-titulo>
  <app-botao-cancelar [rota]="['/cadastro/consumidores']"
      *ngIf="!idExterno">
  </app-botao-cancelar>
  <div class="text-center mb-4">
    <button class="btn botao-cabecalho btn-danger" title="cancelar cadastro"
        type="button" (click)="cancelarExterno()" *ngIf="idExterno">
      <fa-icon [icon]="iWindowClose"></fa-icon>
    </button>
  </div>

  <form [formGroup]="form" (submit)="salvar()">
    <div class="form-group col-3">
      <label for="inputTipo">Tipo:</label>
      <select id="inputTipo" class="form-control" formControlName="tipo" #input autofocus>
        <option *ngFor="let tipo of tipos" [value]="tipo">
          {{ tipo }}
        </option>
      </select>
    </div>
    <div class="form-group col-8">
      <label for="inputDenominacao">
        <div *ngIf="form.get('tipo').value === 'FISICA'">Nome:</div>
        <div *ngIf="form.get('tipo').value === 'JURIDICA'">Razão Social:</div>
      </label>
      <input type="text" id="inputDenominacao" class="form-control"
          formControlName="denominacao" onkeyup="this.value=this.value.toUpperCase()">
      <small *ngIf="form.get('denominacao').hasError('required')" class="text-danger">
        obrigatório
      </small>
    </div>
    <div class="form-group col-3">
      <label for="inputCadastro">
        <div *ngIf="form.get('tipo').value === 'FISICA'">CPF:</div>
        <div *ngIf="form.get('tipo').value === 'JURIDICA'">CNPJ:</div>
      </label>
      <input type="text" id="inputDenominacao" class="form-control"
          formControlName="cadastro" [mask]="getMascaraCadastro()"
          style="text-align: right;">
      <small *ngIf="form.get('cadastro').hasError('required')" class="text-danger">
        obrigatório
      </small>
      <small *ngIf="form.get('cadastro').hasError('consTaken')" class="text-danger">
        consumidor já cadastrado!
      </small>
    </div>
    <div class="form-group col-6">
      <label for="inputEmail">Email:</label>
      <input type="email" id="inputEmail" class="form-control" formControlName="email">
      <small *ngIf="form.get('email').hasError('email')" class="text-danger">
        email inválido!
      </small>
    </div>
    <app-cad-fones [fones]="fones"></app-cad-fones>
    <app-cad-endereco [form]="form"></app-cad-endereco>
    <button class="btn btn-success btn-block btn-lg" type="submit"
        [disabled]="form.invalid">
      salvar
    </button>
  </form>
</div>

<app-modal #modal></app-modal>
