<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container mt-4 mb-lg-5" *ngIf="!isLoading">
  <app-titulo texto="Atendimentos"></app-titulo>
  <div class="text-center mb-4">
    <app-botao-home class="mr-1"></app-botao-home>
    <app-botao-novo [rota]="['novo']" class="ml-1"></app-botao-novo>
  </div>

  <div class="row col-12">
    <div class="col-4">
      <app-search-input [form]="searchCons" label="buscar por consumidor">
      </app-search-input>
    </div>
    <div class="col-4">
      <app-search-input [form]="searchForn" label="buscar por fornecedor">
      </app-search-input>
    </div>
  </div>

  <app-paginador [tamanhoTotal]="page.totalElements" [tamanhoPagina]="page.size"
      [pagina]="pagina" (mudaPagina)="mudaPagina($event)">
  </app-paginador>
  <table class="table table-sm table-striped table-hover table-bordered">
    <caption *ngIf="page.totalElements == 0">
      nenhum atendimento cadastrado...
    </caption>
    <thead class="thead-dark">
      <th class="text-center">Data</th>
      <th class="text-center">Consumidor(es)</th>
      <th class="text-center">Fornecedor(es)</th>
      <th class="text-center" style="width: 60px;">edt</th>
      <th class="text-center" style="width: 60px;">ini</th>
      <th class="text-center" style="width: 60px;">exc</th>
    </thead>
    <tbody>
      <tr *ngFor="let ate of page.content">
        <td class="text-left align-middle">{{ ate.data | date: 'dd/MM/yyyy' }}</td>
        <td class="text-center align-middle">
          <div *ngFor="let item of ate.consumidores">
            {{ item }}
          </div>
        </td>
        <td class="text-center align-middle">
          <div *ngFor="let item of ate.fornecedores">
            {{ item }}
          </div>
        </td>
        <td class="text-center align-middle">
          <button class="btn btn-sm btn-success" type="button" title="ver atendimento"
              [routerLink]="['novo', ate.id]">
            <fa-icon [icon]="iFolder"></fa-icon>
          </button>
        </td>
        <td class="text-center align-middle">
          <button class="btn btn-sm btn-dark" type="button" title="imprimir atendimento"
              (click)="imprimir(ate.id)">
            <fa-icon [icon]="iPrint"></fa-icon>
          </button>
        </td>
        <td class="text-center align-middle">
          <button class="btn btn-sm btn-danger" type="button" title="excluir atendimento"
              (click)="preparaExcluir(ate.id)">
            <fa-icon [icon]="iTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal #modal (sim)="concordou($event)"></app-modal>
