<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container mt-4 mb-lg-5" *ngIf="!isLoading">
  <app-titulo texto="Notificar Fornecedor"></app-titulo>
  <app-botao-cancelar [rota]="['/operacao/not-fornecedor']"></app-botao-cancelar>

  <div class="card mb-2">
    <div class="card-header">
      <h3 class="text-center text-dark">Dados do Processo</h3>
    </div>
    <div class="card-body">
      <h4 class="text-center text-primary">
        Autos: <span class="font-weight-bold">{{ processo.autos }}</span>
      </h4>
      <h4 class="text-center text-primary" *ngFor="let cons of processo.consumidores">
        {{ cons.denominacao }} ({{ cons.cadastro | mask: getMascaraCadastro(cons.tipo) }})
      </h4>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3 class="text-center text-dark">Fornecedores</h3>
    </div>
    <div class="card-body">
      <table class="table table-sm table-striped table-bordered table-light">
        <thead class="thead-dark">
          <th class="text-center">Fantasia</th>
          <th class="text-center">Razão Social</th>
          <th class="text-center" style="width: 60px;">10</th>
          <th class="text-center" style="width: 60px;">05</th>
          <th class="text-center" style="width: 60px;">imp</th>
          <th class="text-center" style="width: 60px;">mul</th>
          <th class="text-center" style="width: 60px;">ini</th>
        </thead>
        <tbody>
          <tr *ngFor="let forn of processo.fornecedores">
            <td class="align-middle">
              {{ forn.fantasia }}
            </td>
            <td class="text-center align-middle">
              {{ forn.razaoSocial }}
            </td>
            <td class="text-center align-middle">
              <button class="btn btn-sm btn-primary" title="dez dias fornecedor"
                  type="button" (click)="notDezDias(forn.id)">
                <fa-icon [icon]="iPrint"></fa-icon>
              </button>
            </td>
            <td class="text-center align-middle">
              <button class="btn btn-sm btn-info" title="cinco dias fornecedor"
                  type="button" (click)="notCincoDias(forn.id)">
                <fa-icon [icon]="iPrint"></fa-icon>
              </button>
            </td>
            <td class="text-center align-middle">
              <button class="btn btn-sm btn-dark" title="impugnação"
                  type="button" (click)="notImpugnacao(forn.id)">
                <fa-icon [icon]="iPrint"></fa-icon>
              </button>
            </td>
            <td class="text-center align-middle">
              <button class="btn btn-sm btn-danger" title="multa"
                  type="button" (click)="notMulta(forn.id)">
                <fa-icon [icon]="iPrint"></fa-icon>
              </button>
            </td>
            <td class="text-center align-middle">
              <button class="btn btn-sm btn-success" title="inicial"
                  type="button" (click)="inicial()">
                <fa-icon [icon]="iPrint"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal #modal></app-modal>
