<form [formGroup]="form">
  <div class="row col-12">
    <div class="form-group col-2">
      <label for="inputCep">CEP:</label>
      <input type="text" id="inputCep" class="form-control" formControlName="cep"
          style="text-align: right;" mask="00000-000">
      <small *ngIf="form.get('cep').hasError('required')" class="text-danger">
        obrigatório
      </small>
      <small *ngIf="form.get('cep').hasError('minLength')" class="text-danger">
        cep incompleto
      </small>
    </div>
    <div class="col-2">
      <button class="btn btn-primary botao-inside" type="button"
          (click)="buscaEnderecoPorCep()" title="buscar endereço"
          [disabled]="form.get('cep').value?.length == 0 || form.get('cep').hasError('minLength')">
        <fa-icon [icon]="iSearch"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row col-12">
    <div class="form-group col-6">
      <label for="inputLogradouro">Logradouro:</label>
      <input type="text" id="inputLogradouro" class="form-control" formControlName="logradouro">
      <small *ngIf="form.get('logradouro').hasError('required')" class="text-danger">
        obrigatório
      </small>
    </div>
    <div class="form-group col-2">
      <label for="inputNro">Nro:</label>
      <input type="text" id="inputNro" class="form-control" formControlName="numero"
          #inputNro maxlength="30">
      <small *ngIf="form.get('nro').hasError('required')" class="text-danger">
        obrigatório
      </small>
      <small *ngIf="form.get('nro').hasError('maxLength')" class="text-danger">
        muito longo
      </small>
    </div>
    <div class="form-group col-2">
      <label for="inputComplemento">Complemento:</label>
      <input type="text" id="inputComplemento" class="form-control"
          formControlName="complemento" maxlength="50">
      <small *ngIf="form.get('complemento').hasError('maxLength')" class="text-danger">
        muito longo
      </small>
    </div>
  </div>
  <div class="form-group col-5">
    <label for="inputBairro">Bairro:</label>
    <input type="text" id="inputBairro" class="form-control" formControlName="bairro">
    <small *ngIf="form.get('bairro').hasError('required')" class="text-danger">
      obrigatório
    </small>
  </div>
  <div class="row col-12">
    <div class="form-group col-6">
      <label for="inputMunicipio">Município:</label>
      <input type="text" id="inputMunicipio" class="form-control" formControlName="municipio">
      <small *ngIf="form.get('municipio').hasError('required')" class="text-danger">
        obrigatório
      </small>
    </div>
    <div class="form-group col-2">
      <label for="selectUf">UF:</label>
      <select id="selectUf" class="form-control" formControlName="uf">
        <option [ngValue]="null" disabled>...</option>
        <option *ngFor="let uf of ufs" [value]="uf">{{ uf }}</option>
      </select>
      <small *ngIf="form.get('uf').hasError('required')" class="text-danger">
        obrigatório
      </small>
    </div>
  </div>
</form>
