<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container mt-4 mb-lg-5" *ngIf="!isLoading">
  <app-titulo texto="Processos para Audiência"></app-titulo>
  <div class="text-center mb-4">
    <app-botao-home></app-botao-home>
  </div>

  <table class="table table-sm table-hover table-striped table-bordered">
    <caption *ngIf="processos.length == 0">
      nenhum processo para audiência...
    </caption>
    <thead class="thead-dark">
      <th class="text-center">Autos</th>
      <th class="text-center">Consumidor(es)</th>
      <th class="text-center">Fornecedor(es)</th>
      <th class="text-center">Audiência</th>
      <th class="text-center" style="width: 60px;">edt</th>
      <th class="text-center" style="width: 60px;">con</th>
      <th class="text-center" style="width: 60px;">for</th>
    </thead>
    <tbody>
      <tr *ngFor="let proc of processos; index as i;" [ngClass]="getRowClass(i)">
        <td class="text-center align-middle">{{ proc.processo.autos }}</td>
        <td class="text-center align-middle">
          <div *ngFor="let cons of proc.processo.consumidores">
            {{ cons }}
          </div>
        </td>
        <td class="text-center alignr-middle">
          <div *ngFor="let forn of proc.processo.fornecedores">
            {{ forn }}
          </div>
        </td>
        <td class="text-center align-middle">
          {{ proc.descricao }}
        </td>
        <td class="text-center align-middle">
          <button class="btn btn-sm btn-success" title="ver processo"
              [routerLink]="['/cadastro/processos/novo', proc.processo.id]">
            <fa-icon [icon]="iFolder"></fa-icon>
          </button>
        </td>
        <td class="text-center align-middle">
          <button class="btn btn-sm btn-dark" title="convocação consumidores"
              (click)="convocacaoCons(proc.processo.id)"
              [disabled]="proc.descricao === 'Erro!'">
            <fa-icon [icon]="iPrint"></fa-icon>
          </button>
        </td>
        <td class="text-center align-middle">
          <button class="btn btn-sm btn-secondary" title="convocação fornecedores"
              (click)="convocacaoForn(proc.processo.id)"
              [disabled]="proc.descricao === 'Erro!'">
            <fa-icon [icon]="iPrint"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal #modal></app-modal>
